body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1580px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2715 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:80px;
  width:1240px;
  height:820px;
}
#u2715_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:820px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  background-color:rgba(230, 230, 230, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2715_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:400px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u2716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:400px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  text-align:center;
}
#u2716 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:900px;
}
#u2719 {
  border-width:0px;
  position:absolute;
  left:220px;
  top:80px;
  width:1240px;
  height:900px;
  display:flex;
  opacity:0.6;
}
#u2719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:980px;
}
#u2720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:980px;
  display:flex;
  color:#E6E6E6;
}
#u2720 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 20px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:80px;
}
#u2721 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:80px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:26px;
  color:#F7F2F2;
  text-align:left;
}
#u2721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 100px;
  box-sizing:border-box;
  width:100%;
}
#u2721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:46px;
}
#u2722 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:17px;
  width:48px;
  height:46px;
  display:flex;
}
#u2722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:220px;
  height:819px;
}
#u2723_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:819px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2723_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2724 {
  border-width:0px;
  position:absolute;
  left:1px;
  top:50px;
  width:218px;
  height:1625px;
}
#u2725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u2725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#DEDEDE;
  text-align:left;
}
#u2725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2725_img.selected {
}
#u2725.selected {
}
#u2725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u2726 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:218px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#DEDEDE;
  text-align:left;
}
#u2726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2726_img.selected {
}
#u2726.selected {
}
#u2726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:100px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2727_img.selected {
}
#u2727.selected {
}
#u2727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:135px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2728_img.selected {
}
#u2728.selected {
}
#u2728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2729_img.selected {
}
#u2729.selected {
}
#u2729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2730 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:205px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2730_img.selected {
}
#u2730.selected {
}
#u2730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2731_img.selected {
}
#u2731.selected {
}
#u2731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2732 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:275px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2732_img.selected {
}
#u2732.selected {
}
#u2732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u2733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:310px;
  width:218px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#DEDEDE;
  text-align:left;
}
#u2733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2733_img.selected {
}
#u2733.selected {
}
#u2733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2734 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:360px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#E7E7E7;
  text-align:left;
}
#u2734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2734_img.selected {
}
#u2734.selected {
}
#u2734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u2735 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:395px;
  width:218px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u2735_img.selected {
}
#u2735.selected {
}
#u2735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u2736 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:425px;
  width:218px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u2736_img.selected {
}
#u2736.selected {
}
#u2736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u2737 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:455px;
  width:218px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u2737_img.selected {
}
#u2737.selected {
}
#u2737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u2738 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:485px;
  width:218px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 50px;
  box-sizing:border-box;
  width:100%;
}
#u2738_img.selected {
}
#u2738.selected {
}
#u2738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2739 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:515px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2739_img.selected {
}
#u2739.selected {
}
#u2739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2740 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:550px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2740_img.selected {
}
#u2740.selected {
}
#u2740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2741 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:585px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2741_img.selected {
}
#u2741.selected {
}
#u2741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:620px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2742_img.selected {
}
#u2742.selected {
}
#u2742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2743 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:655px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2743_img.selected {
}
#u2743.selected {
}
#u2743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2744 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:690px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2744_img.selected {
}
#u2744.selected {
}
#u2744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u2745 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:725px;
  width:218px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#DEDEDE;
  text-align:left;
}
#u2745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2745_img.selected {
}
#u2745.selected {
}
#u2745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2746 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:775px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2746_img.selected {
}
#u2746.selected {
}
#u2746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2747 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:810px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2747_img.selected {
}
#u2747.selected {
}
#u2747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u2748 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:845px;
  width:218px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#DEDEDE;
  text-align:left;
}
#u2748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2748_img.selected {
}
#u2748.selected {
}
#u2748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u2749 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:895px;
  width:218px;
  height:50px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#DEDEDE;
  text-align:left;
}
#u2749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2749_img.selected {
}
#u2749.selected {
}
#u2749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2750 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:945px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2750_img.selected {
}
#u2750.selected {
}
#u2750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2751_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:980px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2751_img.selected {
}
#u2751.selected {
}
#u2751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u2752 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1015px;
  width:218px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u2752_img.selected {
}
#u2752.selected {
}
#u2752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u2753 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1045px;
  width:218px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u2753_img.selected {
}
#u2753.selected {
}
#u2753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2754 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1075px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2754_img.selected {
}
#u2754.selected {
}
#u2754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2755 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1110px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2755_img.selected {
}
#u2755.selected {
}
#u2755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2756 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1145px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2756_img.selected {
}
#u2756.selected {
}
#u2756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2757_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2757 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1180px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2757_img.selected {
}
#u2757.selected {
}
#u2757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2758_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2758 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1215px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2758 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2758_img.selected {
}
#u2758.selected {
}
#u2758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2759_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u2759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1250px;
  width:218px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2759 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u2759_img.selected {
}
#u2759.selected {
}
#u2759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2760_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u2760 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1280px;
  width:218px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u2760_img.selected {
}
#u2760.selected {
}
#u2760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2761_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u2761 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1310px;
  width:218px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2761 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u2761_img.selected {
}
#u2761.selected {
}
#u2761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2762_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u2762 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1340px;
  width:218px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u2762_img.selected {
}
#u2762.selected {
}
#u2762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2763_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u2763 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1370px;
  width:218px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2763 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u2763_img.selected {
}
#u2763.selected {
}
#u2763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2764_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:35px;
}
#u2764 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1400px;
  width:218px;
  height:35px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:15px;
  color:#E7E7E7;
  text-align:left;
}
#u2764 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 30px;
  box-sizing:border-box;
  width:100%;
}
#u2764_img.selected {
}
#u2764.selected {
}
#u2764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2765_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u2765 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1435px;
  width:218px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2765 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u2765_img.selected {
}
#u2765.selected {
}
#u2765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2766_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u2766 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1465px;
  width:218px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2766 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u2766_img.selected {
}
#u2766.selected {
}
#u2766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2767_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:30px;
}
#u2767 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1495px;
  width:218px;
  height:30px;
  display:flex;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u2767 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 40px;
  box-sizing:border-box;
  width:100%;
}
#u2767_img.selected {
}
#u2767.selected {
}
#u2767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2768_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:100px;
}
#u2768 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1525px;
  width:218px;
  height:100px;
  display:flex;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  text-align:left;
}
#u2768 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2768_img.selected {
}
#u2768.selected {
}
#u2768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(187, 184, 184, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
.u2770 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:100px;
  height:20px;
  display:flex;
  font-size:8px;
}
.u2770 .text {
  position:absolute;
  align-self:center;
  padding:2px 20px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u2770_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(230, 230, 230, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
}
.u2770.selected {
}
.u2770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u2771_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
.u2771 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:6px;
  width:15px;
  height:15px;
  display:flex;
}
.u2771 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u2771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2769-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:24px;
}
#u2769-2 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:24px;
}
#u2769-3 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:24px;
}
#u2769-4 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:24px;
}
#u2769-5 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:24px;
}
#u2769 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:63px;
  width:500px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2772 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2773_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u2773 {
  border-width:0px;
  position:absolute;
  left:1200px;
  top:15px;
  width:50px;
  height:50px;
  display:flex;
}
#u2773 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2774 {
  border-width:0px;
  position:absolute;
  left:1260px;
  top:15px;
  width:200px;
  height:50px;
  display:flex;
  color:#FFFFFF;
}
#u2774 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2775_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2775 {
  border-width:0px;
  position:absolute;
  left:1150px;
  top:25px;
  width:30px;
  height:30px;
  display:flex;
}
#u2775 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2776 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:1499px;
}
#u2776_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:1499px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2776_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:980px;
}
#u2778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1460px;
  height:980px;
  display:flex;
  opacity:0.6;
}
#u2778 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2778_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:200px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2779 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:250px;
  width:460px;
  height:200px;
  display:flex;
}
#u2779 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2779_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2780_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2780 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:264px;
  width:400px;
  height:20px;
  display:flex;
}
#u2780 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:2px;
}
#u2781 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:290px;
  width:410px;
  height:1px;
  display:flex;
}
#u2781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2782_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:409px;
  height:78px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5C5C;
  text-align:center;
}
#u2782 {
  border-width:0px;
  position:absolute;
  left:528px;
  top:306px;
  width:409px;
  height:78px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#5E5C5C;
  text-align:center;
}
#u2782 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2783 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:398px;
  width:100px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:980px;
}
#u2785_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1500px;
  height:980px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2785_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:980px;
}
#u2787 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:1200px;
  height:980px;
  display:flex;
  opacity:0.6;
}
#u2787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2788_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:980px;
  background:inherit;
  background-color:rgba(4, 189, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2788 {
  border-width:0px;
  position:absolute;
  left:1500px;
  top:0px;
  width:80px;
  height:980px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2788 .text {
  position:absolute;
  align-self:flex-start;
  padding:300px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
